@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+AR:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* user-select: none; */
  font-family: Google Sans, Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}
:root {
  --primaryClr: #00ac7c;
  --secondary: #f0fffb;
  --radius: 5px;
}
body {
  font-weight: 500;
  font-size: 20px;
  min-height: 100vh;
  letter-spacing: 0.5px;
  position: relative;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow-x: hidden;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23FFE3E3' stroke-width='0.9' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--primaryClr);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.loaderContainer {
  width: 100vw;
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  .loader {
    display: block;
    --height-of-loader: 4px;
    width: 130px;
    height: var(--height-of-loader);
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.2);
    position: relative;
  }

  .loader::before {
    content: "";
    position: absolute;
    background: var(--primaryClr);
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 30px;
    animation: moving 1s ease-in-out infinite;
  }
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  p {
    padding: 10px 20px;
    font-family: "Playwrite AR", cursive;
    font-size: clamp(1rem, 2.5vw, 1.3rem) !important;
  }
}
.border {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid transparent;
  border-image: url(images/border.svg);
  border-image-slice: 20%;
  border-image-repeat: round;
  border-image-width: 50px;
  z-index: -1111111;
}
.container {
  width: 80%;
  max-width: 350px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  iframe {
    border: none;
    transform: scale(1.2);
  }
  flex-direction: column;
  gap: 15px;
  .wrapper1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  .inputs {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    input {
      width: 100%;
      height: 50px;
      text-align: center;
      border: 1px solid black;
      border-radius: var(--radius);
      font-size: clamp(1.2rem, 2.5vw, 1.5rem);
    }
    input:valid,
    input:focus {
      border-color: var(--primaryClr);
    }
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  button {
    width: 100%;
    padding: 15px;
    font-size: clamp(1.4rem, 2.5vw, 2rem);
    background-color: var(--primaryClr);
    border: none;
    color: var(--secondary);
    border-radius: var(--radius);
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
  }
}

button:disabled {
  opacity: 0.7;
}
.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lines {
  display: flex;
  flex-direction: column;
  gap: 130px;
  padding-top: 60vh;
  padding-bottom: 20vh;
  width: 90%;
  max-width: 600px;
  text-align: start;
}
.graphic {
  width: 100%;
  height: 50vh;
  display: grid;
  place-items: center;
  position: fixed;
  background-color: white;
  iframe {
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
  }
}

.graphic::after {
  content: "";
  position: absolute;
  bottom: 0px;
  z-index: -11;
  width: 100%;
  height: 0px; /* Adjust to match the desired border thickness */
  box-shadow: 0 15px 20px 20px #ffffff;
}

.text {
  transition: color 0.3s ease;
  font-family: "Hind", sans-serif;
  font-size: clamp(1.2rem, 2.5vw, 1.8rem);

  color: rgb(204, 204, 204); /* Fade text color */
}

.text.dark {
  color: black;
}

.calender {
  border: 3px solid var(--primaryClr);
  text-align: center;
  display: flex;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  font-size: clamp(2rem, 2.5vw, 2.5rem);
  border-radius: 5px;
  [data-date] {
    margin-top: 13px;
  }
  [data-day] {
    padding: 8px 25px;
    background-color: var(--primaryClr);
    color: var(--secondary);
  }
  [data-style] {
    padding: 10px;
    font-size: clamp(0.7rem, 2.5vw, 1rem);
  }
}

.image {
  display: none;
}

.image.active {
  display: block;
}

.suncontainer {
  background-color: black;
  width: 100%;
  height: 100%;
}
.ranjan {
  img {
    width: 100%;
    height: 300px;
  }
}
.suntravel {
  position: relative;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  #sunmid {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px; /* Adjust to your desired size */
    height: 60px; /* Adjust to your desired size */
    transform: translate(-50%, -50%);
  }

  #earthmid {
    position: absolute;
    left: 50%;
    width: 30px; /* Adjust to your desired size */
    height: 30px; /* Adjust to your desired size */
    transform: translateX(-50%);
    transform-origin: 50% 100px; /* The distance from the center of the sun */
    animation: orbit 25s linear infinite;
  }
}
.suntravel::before {
  content: "";
  width: 170px;
  height: 170px;
  border: 2px dashed white;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@keyframes orbit {
  0% {
    transform: translateX(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) rotate(360deg);
  }
}

@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}


@media(width<=490px){
.border{
  display: none;
}
}